<!-- /* Copyright (CC) Christopher Stenqvist, capodacac@gmail.com - All Rights Reserved
 *
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * without the express permission of Christopher Stenqvist
 *
 * This file is part of livedb, https://github.com/cr1tterp0wer/livedb.git
 *
 *
 ******************************************
 * Name:Homepage Template - 
 * ****************************************
 *
 *
 * 
 *
 *
 *
 *
 *
 * *Proprietary and confidential
 * Written by Christopher Stenqvist, October 2016
 */ -->

    <div ng-repeat="title in titles track by $index">
      <h2></h2>
      <table class="table table-inverse" >
        <thead>
          <tr >
            <th ng-repeat="t in title"  ng-hide="$first" >{{t}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(k, v) in rows track by $index" ng-if="v[0] == title[0]" >

            <td ng-repeat="(key, value) in v track by $index" ng-hide="$first" >{{value}}</td>
          </tr>
        </tbody>
      </table>
      <a id="tagMe" href="#tagMe"></a>
    </div>
  </div>
</div>