
<div id = "content-wrap">
  <div id="content">


    <h1>Live-DB</h1>


    <button ng-click="count = count + 1" ng-init="count=0">
      Increment Angularjs Test
    </button>
    <span>
      count: {{count}}
    </span>

    <div>
      <table class="table table-inverse">
        <thead>
          <tr >
            <th ng-repeat="(key,value) in rows[0]">{{key}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(k, v) in rows">
            <td ng-repeat="(key, value) in v">{{value}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p ng-repeat="p in persons">{{p}}</p>
  </div>
	
</div>
