
<div id = "content-wrap">
  <div id="content">


    <h1>Live-DB</h1>


    <button ng-click="reload()" >
      Refresh Table
    </button>
    <h3>{{rows.length}}</h3>
    <div>
      <table class="table table-inverse">
        <thead>
          <tr >
            <th ng-repeat="(key,value) in rows[0]" >{{key}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(k, v) in rows">
            <td ng-repeat="(key, value) in v">{{value}}</td>
          </tr>
        </tbody>
      </table>
      <a id="tagMe" href="#tagMe"></a>
    </div>

  </div>
	
</div>
<script>

</script>
