<!-- /* Copyright (CC) Christopher Stenqvist, capodacac@gmail.com - All Rights Reserved
 *
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * without the express permission of Christopher Stenqvist
 *
 * This file is part of livedb, https://github.com/cr1tterp0wer/livedb.git
 *
 *
 ******************************************
 * Name:MainPage Template - 
 * ****************************************
 *
 *
 * 
 *
 *
 *
 *
 *
 * *Proprietary and confidential
 * Written by Christopher Stenqvist, October 2016
 */ -->
 
<!DOCTYPE html>
<html lang="en" ng-app="dbApp">
  <head>
    <meta charset="UTF-8">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>      
    <script type="text/javascript" src="/public/js/controllers/homeController.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="client.js"></script>

    <title>Live-DB</title>
  </head>
  <body>
    <div id = "show">
      <div id="page-content" ng-view></div>
    </div>

  </body>

</html>